<!DOCTYPE HTML>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Beauty Shop Index</title>
    
    <script src="js/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="css/demopage.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body class="container demopage">
    <header class="site-header">
        <div class="logotip">
            <a href="main.html" class="logo">
                <strong class="logo-first-row">FOOD&</strong>
                <br>HOME
                <img src="img/icons/logo_icon.png" alt="Online Store">
            </a>
        </div>
    </header>
    
    <!-- <div class="container index-page">
        <hr>
        <ul style="list-style: none">
            <li><a href="main.html">Main page</a></li>
            <li><a href="catalog.html">Items Catalog</a></li>
            <li><a href="site-map.html">Site map</a></li>
            <li><a href="404.html">404: Page not Found</a></li>
            <li><a href="favorites.html">Personal Area: Favorites</a></li>
            <li><a href="order-history.html">Personal Area: Orders History</a></li>
            <li><a href="subscribe-settings.html">Personal Area: Subscription Settings</a></li>
            <li><a href="profile-settings.html">Personal Area: Profile Settings</a></li>
            <li><a href="order-making-1.html">Checkout_1</a></li>
            <li><a href="order-making-2.html">Checkout_2</a></li>
            <li><a href="order-making-3.html">Checkout_3</a></li>
            <li><a href="product-page.html">Product Page</a></li>
            <li><a href="compare.html">Comparison Page</a></li>
            <li><a href="template-page.html">template Page</a></li>
            <li><a href="elements.html">UI Kit</a></li>
        </ul>
    </div> -->

    <div class="row">
        <div class="col-xs-6 col-md-4 effect">
            <a href="main.html" class="thumbnail">
                <img src="img/demopage/main.jpg"></img>
                <span class="cover"><i class="fa fa-search"></i></span>
            </a>
            <div class="caption text-center">
                <h4><a href="main.html">Main page</a></h4>
            </div>
        </div>
        
        <div class="col-xs-6 col-md-4 effect">
            <a href="catalog.html" class="thumbnail">
                <img src="img/demopage/catalog.jpg"></img>
                <span class="cover"><i class="fa fa-search"></i></span>
            </a>
            <div class="caption text-center">
                <h4><a href="catalog.html">Items Catalog</a></h4>
            </div>
        </div>
        
        <div class="col-xs-6 col-md-4 effect">
            <a href="site-map.html" class="thumbnail">
                <img src="img/demopage/sitemap.jpg"></img>
                <span class="cover"><i class="fa fa-search"></i></span>
            </a>
            <div class="caption text-center">
                <h4><a href="site-map.html">Site map</a></h4>
            </div>
        </div>
        
        <div class="col-xs-6 col-md-4 effect">
            <a href="404.html" class="thumbnail">
                <img src="img/demopage/404.jpg"></img>
                <span class="cover"><i class="fa fa-search"></i></span>
            </a>
            <div class="caption text-center">
                <h4><a href="404.html">404: Page not Found</a></h4>
            </div>
        </div>
        
        <div class="col-xs-6 col-md-4 effect">
            <a href="favorites.html" class="thumbnail">
                <img src="img/demopage/favorites.jpg"></img>
                <span class="cover"><i class="fa fa-search"></i></span>
            </a>
            <div class="caption text-center">
                <h4><a href="favorites.html">Personal Area: Favorites</a></h4>
            </div>
        </div>
        
        <div class="col-xs-6 col-md-4 effect">
            <a href="order-history.html" class="thumbnail">
                <img src="img/demopage/orders-history.jpg"></img>
                <span class="cover"><i class="fa fa-search"></i></span>
            </a>
            <div class="caption text-center">
                <h4><a href="order-history.html">Personal Area: Orders History</a></h4>
            </div>
        </div>
        
        <div class="col-xs-6 col-md-4 effect">
            <a href="subscribe-settings.html" class="thumbnail">
                <img src="img/demopage/subscription.jpg"></img>
                <span class="cover"><i class="fa fa-search"></i></span>
            </a>
            <div class="caption text-center">
                <h4><a href="subscribe-settings.html">Personal Area: Subscription Settings</a></h4>
            </div>
        </div>
        
        <div class="col-xs-6 col-md-4 effect">
            <a href="profile-settings.html" class="thumbnail">
                <img src="img/demopage/profile-settings.jpg"></img>
                <span class="cover"><i class="fa fa-search"></i></span>
            </a>
            <div class="caption text-center">
                <h4><a href="profile-settings.html">Personal Area: Profile Settings</a></h4>
            </div>
        </div>
        
        <div class="col-xs-6 col-md-4 effect">
            <a href="order-making-1.html" class="thumbnail">
                <img src="img/demopage/checkout-1.jpg"></img>
                <span class="cover"><i class="fa fa-search"></i></span>
            </a>
            <div class="caption text-center">
                <h4><a href="order-making-1.html">Checkout 1</a></h4>
            </div>
        </div>
        
        <div class="col-xs-6 col-md-4 effect">
            <a href="order-making-2.html" class="thumbnail">
                <img src="img/demopage/checkout-2.jpg"></img>
                <span class="cover"><i class="fa fa-search"></i></span>
            </a>
            <div class="caption text-center">
                <h4><a href="order-making-2.html">Checkout 2</a></h4>
            </div>
        </div>
        
        <div class="col-xs-6 col-md-4 effect">
            <a href="order-making-3.html" class="thumbnail">
                <img src="img/demopage/checkout-3.jpg"></img>
                <span class="cover"><i class="fa fa-search"></i></span>
            </a>
            <div class="caption text-center">
                <h4><a href="order-making-3.html">Checkout 3</a></h4>
            </div>
        </div>
        
        <div class="col-xs-6 col-md-4 effect">
            <a href="product-page.html" class="thumbnail">
                <img src="img/demopage/product-page.jpg"></img>
                <span class="cover"><i class="fa fa-search"></i></span>
            </a>
            <div class="caption text-center">
                <h4><a href="product-page.html">Product Page</a></h4>
            </div>
        </div>
        
        <div class="col-xs-6 col-md-4 effect">
            <a href="compare.html" class="thumbnail">
                <img src="img/demopage/compare.jpg"></img>
                <span class="cover"><i class="fa fa-search"></i></span>
            </a>
            <div class="caption text-center">
                <h4><a href="compare.html">Comparison Page</a></h4>
            </div>
        </div>
        
        <div class="col-xs-6 col-md-4 effect">
            <a href="template-page.html" class="thumbnail">
                <img src="img/demopage/template-page.jpg"></img>
                <span class="cover"><i class="fa fa-search"></i></span>
            </a>
            <div class="caption text-center">
                <h4><a href="template-page.html">Template Page</a></h4>
            </div>
        </div>
        
        <div class="col-xs-6 col-md-4 effect">
            <a href="elements.html" class="thumbnail">
                <img src="img/demopage/ui-kit.jpg"></img>
                <span class="cover"><i class="fa fa-search"></i></span>
            </a>
            <div class="caption text-center">
                <h4><a href="elements.html">UI kit</a></h4>
            </div>
        </div>
    </div>
</body>
<script>
    $('.cover').css("line-height",$('.cover').height()+'px');
</script>

</html>