<div class="bcrumbs-container row">
	<div class="col-xs-12">
		<div class="bcrumbs">
			<a href="main.html" class="home"></a>&rarr;
			<a href="#" class="active">404</a>
		</div>
	</div>
</div>
<div class="site-map row">
	<div class="col-xs-12">
		<h1>Error 404</h1>
		<p class="error404">404</p>
		<p>Oh, it seems something went wrong.</p>
		<p>But we are sure that you will find what you need:</p>
		<ul class="site-map-menu">
			<li>
				<a href="index.html">Main</a>
			</li>
			<li class="expandable">
				<a href="#">Store</a>
				<ul class="expand-content">
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Items</a>
				<ul class="expand-content">
					<li class="expandable">
						<a href="apartments.html">Vegetables</a>
						<ul class="expand-content">
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
						</ul>
					</li>
					<li class="expandable">
						<a href="houses.html">Fruits</a>
						<ul class="expand-content">
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
						</ul>
					</li>
					<li class="expandable">
						<a href="commercial">Meat</a>
						<ul class="expand-content">
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">Reviews</a>
			</li>
			<li class="expandable">
				<a href="#">Personal Area</a>
				<ul class="expand-content">
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
				</ul>
			</li>
			<li>
				<a href="#">Shipping and payment</a>
			</li>
			<li>
				<a href="#">News</a>
			</li>
			<li>
				<a href="#">Contact us</a>
			</li>
		</ul><!-- /site-map-menu -->
	</div><!-- /col-xs-12 -->
</div><!-- /site-map -->