<ul class="catalog-menu">
	<li class="expandable">
		<a href="#">Items</a>
		<ul class="sub1 expand-content">
			<li class="expandable">
				<a href="#">Vegetables and fruits</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Bakery products</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Meat products</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Milk products</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Confectionery</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Preservation</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Flour, cereal, pasta</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable"><a href="#">Sauces and spices</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Healthy food</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
		</ul><!-- /sub1 -->
	</li>
	<li class="expandable">
		<a href="#">Children's goods</a>
		<ul class="sub1 expand-content">
			<li class="expandable">
				<a href="#">Vegetables and fruits</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Bakery products</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Meat products</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Milk products</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Confectionery</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Preservation</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Flour, cereal, pasta</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable"><a href="#">Sauces and spices</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Healthy food</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
		</ul><!-- /sub1 -->
	</li>
	<li class="expandable">
		<a href="#">Beauty & Personal Care</a>
		<ul class="sub1 expand-content">
			<li class="expandable">
				<a href="#">Vegetables and fruits</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Bakery products</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Meat products</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Milk products</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Confectionery</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Preservation</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Flour, cereal, pasta</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable"><a href="#">Sauces and spices</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Healthy food</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
		</ul><!-- /sub1 -->
	</li>
	<li class="expandable">
		<a href="#">Domestic chemistry</a>
		<ul class="sub1 expand-content">
			<li class="expandable">
				<a href="#">Vegetables and fruits</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Bakery products</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Meat products</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Milk products</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Confectionery</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Preservation</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Flour, cereal, pasta</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable"><a href="#">Sauces and spices</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Healthy food</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
		</ul><!-- /sub1 -->
	</li>
	<li class="expandable">
		<a href="#">Home and Garden</a>
		<ul class="sub1 expand-content">
			<li class="expandable">
				<a href="#">Vegetables and fruits</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Bakery products</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Meat products</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Milk products</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Confectionery</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Preservation</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Flour, cereal, pasta</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable"><a href="#">Sauces and spices</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Healthy food</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
		</ul><!-- /sub1 -->
	</li>
	<li class="expandable">
		<a href="#">Pet Supplies</a>
		<ul class="sub1 expand-content">
			<li class="expandable">
				<a href="#">Vegetables and fruits</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Bakery products</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Meat products</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Milk products</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Confectionery</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Preservation</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Flour, cereal, pasta</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable"><a href="#">Sauces and spices</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
			<li class="expandable">
				<a href="#">Healthy food</a>
				<ul class="sub2 expand-content">
					<li><a href="#">For meat and poultry<sup class="number-of-items">21</sup></a></li>
					<li><a href="#">For fish dishes<sup class="number-of-items">13</sup></a></li>
					<li><a href="#">For baking and desserts<sup class="number-of-items">29</sup></a></li>
					<li><a href="#">For pasta<sup class="number-of-items">12</sup></a></li>
				</ul>
			</li>
		</ul><!-- /sub1 -->
	</li>
</ul><!-- /catalog-menu -->