<div class="bcrumbs-container row">
	<div class="col-sm-12">
		<div class="bcrumbs">
			<a href="main.html" class="home"></a>&rarr;
			<a href="catalog.html">Catalog</a>&rarr;
			<a href="compare.html" class="active">Compare Items</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<h1>Comparison List</h1>
		<div class="empty-list">
		Select items for comparison by using the "Compare" links in blocks of items or detailed product page.
		</div>
		<div class="switch clearfix">
			<div class="switch-control"></div>
			<a href="#" class="left active">All param<span class="hidden-xs">eter</span><span class="visible-xs-inline"></span>s</a>
			<a href="#" class="right"><span>Only </span>different</a>
			<div style="display:none"><input type="number" id="switch-input" hidden="hidden"></div>
		</div>
		<div class="compare-outer-wrapper">
			<div class="compare-inner-wrapper">
				<table class="compare-table" id="compare-table">
					<thead>
						<tr class="compare-items">
							<th>Parameter</th>
							<th class="compare-item-wrapper">
								<div class="compare-item">
									<div class="item-name"><a href="product-page.html">Vanilla sugar</a></div>
									<div class="item-actions clearfix">
										<div class="rating">
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
										</div>
										<button class="favorite"><span class="text">To favorites</span></button>
									</div><!-- /item-actions -->
									<div class="img-container">
										<img src="img/goods/medium-images/big-slider-3.jpg" alt="Pancakes" class="photo" data-big-image="img/goods/big-images/big-slider-3.jpg">
									</div>
									<del class="price">$4</del>
									<span class="price">$3.5</span>
									<div class="to-basket-container">
										<button class="to-basket"><span>To cart</span></button>
									</div>
								</div><!-- /compare-item -->
							</th>
							<th class="compare-item-wrapper">
								<div class="compare-item">
									<div class="item-name"><a href="product-page.html">Vanilla sugar powder</a></div>
									<div class="item-actions clearfix">
										<div class="rating">
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
										</div>
										<button class="favorite"><span class="text">To favorites</span></button>
									</div><!-- /item-actions -->
									<div class="img-container">
										<img src="img/goods/medium-images/big-slider-3.jpg" alt="Pancakes" class="photo" data-big-image="img/goods/big-images/big-slider-3.jpg">
									</div>
									<del class="price">$4</del>
									<span class="price">$3.5</span>
									<div class="to-basket-container">
										<button class="to-basket"><span>To cart</span></button>
									</div>
								</div><!-- /compare-item -->
							</th>
							<th class="compare-item-wrapper">
								<div class="compare-item">
									<div class="item-name"><a href="product-page.html">Vanilla sugar powder</a></div>
									<div class="item-actions clearfix">
										<div class="rating">
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
										</div>
										<button class="favorite"><span class="text">To favorites</span></button>
									</div><!-- /item-actions -->
									<div class="img-container">
										<img src="img/goods/medium-images/big-slider-3.jpg" alt="Pancakes" class="photo" data-big-image="img/goods/big-images/big-slider-3.jpg">
									</div>
									<del class="price">$4</del>
									<span class="price">$3.5</span>
									<div class="to-basket-container">
										<button class="to-basket"><span>To cart</span></button>
									</div>
								</div><!-- /compare-item -->
							</th>
							<th class="compare-item-wrapper">
								<div class="compare-item">
									<div class="item-name"><a href="product-page.html">Vanilla sugar powder</a></div>
									<div class="item-actions clearfix">
										<div class="rating">
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
										</div>
										<button class="favorite"><span class="text">To favorites</span></button>
									</div><!-- /item-actions -->
									<div class="img-container">
										<img src="img/goods/medium-images/big-slider-3.jpg" alt="Pancakes" class="photo" data-big-image="img/goods/big-images/big-slider-3.jpg">
									</div>
									<del class="price">$4</del>
									<span class="price">$3.5</span>
									<div class="to-basket-container">
										<button class="to-basket"><span>To cart</span></button>
									</div>
								</div><!-- /compare-item -->
							</th>
							<th class="compare-item-wrapper">
								<div class="compare-item">
									<div class="item-name"><a href="product-page.html">Vanilla sugar powder</a></div>
									<div class="item-actions clearfix">
										<div class="rating">
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
										</div>
										<button class="favorite"><span class="text">To favorites</span></button>
									</div><!-- /item-actions -->
									<div class="img-container">
										<img src="img/goods/medium-images/big-slider-3.jpg" alt="Pancakes" class="photo" data-big-image="img/goods/big-images/big-slider-3.jpg">
									</div>
									<del class="price">$4</del>
									<span class="price">$3.5</span>
									<div class="to-basket-container">
										<button class="to-basket"><span>To cart</span></button>
									</div>
								</div><!-- /compare-item -->
							</th>
							<th class="compare-item-wrapper">
								<div class="compare-item">
									<div class="item-name"><a href="product-page.html">Vanilla sugar powder</a></div>
									<div class="item-actions clearfix">
										<div class="rating">
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
										</div>
										<button class="favorite"><span class="text">To favorites</span></button>
									</div><!-- /item-actions -->
									<div class="img-container">
										<img src="img/goods/medium-images/big-slider-3.jpg" alt="Pancakes" class="photo" data-big-image="img/goods/big-images/big-slider-3.jpg">
									</div>
									<del class="price">$4</del>
									<span class="price">$3.5</span>
									<div class="to-basket-container">
										<button class="to-basket"><span>To cart</span></button>
									</div>
								</div><!-- /compare-item -->
							</th>
							<th class="compare-item-wrapper">
								<div class="compare-item">
									<div class="item-name"><a href="product-page.html">Vanilla sugar powder</a></div>
									<div class="item-actions clearfix">
										<div class="rating">
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
										</div>
										<button class="favorite"><span class="text">To favorites</span></button>
									</div><!-- /item-actions -->
									<div class="img-container">
										<img src="img/goods/medium-images/big-slider-3.jpg" alt="Pancakes" class="photo" data-big-image="img/goods/big-images/big-slider-3.jpg">
									</div>
									<del class="price">$4</del>
									<span class="price">$3.5</span>
									<div class="to-basket-container">
										<button class="to-basket"><span>To cart</span></button>
									</div>
								</div><!-- /compare-item -->
							</th>
							<th class="compare-item-wrapper">
								<div class="compare-item">
									<div class="item-name"><a href="product-page.html">Vanilla sugar powder</a></div>
									<div class="item-actions clearfix">
										<div class="rating">
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
										</div>
										<button class="favorite"><span class="text">To favorites</span></button>
									</div><!-- /item-actions -->
									<div class="img-container">
										<img src="img/goods/medium-images/big-slider-3.jpg" alt="Pancakes" class="photo" data-big-image="img/goods/big-images/big-slider-3.jpg">
									</div>
									<del class="price">$4</del>
									<span class="price">$3.5</span>
									<div class="to-basket-container">
										<button class="to-basket"><span>To cart</span></button>
									</div>
								</div><!-- /compare-item -->
							</th>
							<th class="compare-item-wrapper">
								<div class="compare-item">
									<div class="item-name"><a href="product-page.html">Vanilla sugar powder</a></div>
									<div class="item-actions clearfix">
										<div class="rating">
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
										</div>
										<button class="favorite"><span class="text">To favorites</span></button>
									</div><!-- /item-actions -->
									<div class="img-container">
										<img src="img/goods/medium-images/big-slider-3.jpg" alt="Pancakes" class="photo" data-big-image="img/goods/big-images/big-slider-3.jpg">
									</div>
									<del class="price">$4</del>
									<span class="price">$3.5</span>
									<div class="to-basket-container">
										<button class="to-basket"><span>To cart</span></button>
									</div>
								</div><!-- /compare-item -->
							</th>
							<th class="compare-item-wrapper">
								<div class="compare-item">
									<div class="item-name"><a href="product-page.html">Vanilla sugar powder</a></div>
									<div class="item-actions clearfix">
										<div class="rating">
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
											<span class="flaticon-little27 star"></span>
										</div>
										<button class="favorite"><span class="text">To favorites</span></button>
									</div><!-- /item-actions -->
									<div class="img-container">
										<img src="img/goods/medium-images/big-slider-3.jpg" alt="Pancakes" class="photo" data-big-image="img/goods/big-images/big-slider-3.jpg">
									</div>
									<del class="price">$4</del>
									<span class="price">$3.5</span>
									<div class="to-basket-container">
										<button class="to-basket"><span>To cart</span></button>
									</div>
								</div><!-- /compare-item -->
							</th>
						</tr>
						<tr class="spacer"><td colspan="11"></td></tr>
					</thead>
					<tbody>
						<tr>
							<th>Manufacturer</th>
							<td>Aydigo</td>
							<td>Colossus</td>
							<td>Colossus</td>
							<td>Colossus</td>
							<td>Colossus</td>
							<td>Colossus</td>
							<td>Colossus</td>
							<td>Colossus</td>
							<td>Colossus</td>
							<td>Colossus</td>
						</tr>
						<tr>
							<th>Country</th>
							<td>USA</td>
							<td>Argentina</td>
							<td>UK</td>
							<td>Russia</td>
							<td>Germany</td>
							<td>Australia</td>
							<td>Netherlands</td>
							<td>Italy</td>
							<td>Canada</td>
							<td>Mexico</td>
						</tr>
						<tr>
							<th>Weight</th>
							<td>32g</td>
							<td>12g</td>
							<td>12g</td>
							<td>12g</td>
							<td>12g</td>
							<td>12g</td>
							<td>12g</td>
							<td>12g</td>
							<td>12g</td>
							<td>12g</td>
						</tr>
						<tr>
							<th>Energy value, 100g</th>
							<td>175 kkal</td>
							<td>235 kkal</td>
							<td>235 kkal</td>
							<td>235 kkal</td>
							<td>235 kkal</td>
							<td>235 kkal</td>
							<td>235 kkal</td>
							<td>235 kkal</td>
							<td>235 kkal</td>
							<td>235 kkal</td>
						</tr>
						<tr>
							<th>Energy composition</th>
							<td>Proteins - 11g, Fats - 5g, Carbohydrates - 3g</td>
							<td>Proteins - 11g, Fats - 5g, Carbohydrates - 3g</td>
							<td>Proteins - 11g, Fats - 5g, Carbohydrates - 3g</td>
							<td>Proteins - 11g, Fats - 5g, Carbohydrates - 3g</td>
							<td>Proteins - 11g, Fats - 5g, Carbohydrates - 3g</td>
							<td>Proteins - 11g, Fats - 5g, Carbohydrates - 3g</td>
							<td>Proteins - 11g, Fats - 5g, Carbohydrates - 3g</td>
							<td>Proteins - 11g, Fats - 5g, Carbohydrates - 3g</td>
							<td>Proteins - 11g, Fats - 5g, Carbohydrates - 3g</td>
							<td>Proteins - 11g, Fats - 5g, Carbohydrates - 3g</td>
						</tr>
						<tr>
							<th>Compliance technology</th>
							<td>State Standart</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
						</tr>
						<tr>
							<th>Compliance technology</th>
							<td>State Standart</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
						</tr>
						<tr>
							<th>Compliance technology</th>
							<td>State Standart</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
						</tr>
						<tr>
							<th>Compliance technology</th>
							<td>State Standart</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
						</tr>
						<tr>
							<th>Compliance technology</th>
							<td>State Standart</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
						</tr>
						<tr>
							<th>Compliance technology</th>
							<td>State Standart</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
						</tr>
						<tr>
							<th>Compliance technology</th>
							<td>State Standart</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
						</tr>
						<tr>
							<th>Compliance technology</th>
							<td>State Standart</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
						</tr>
						<tr>
							<th>Compliance technology</th>
							<td>State Standart</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
						</tr>
						<tr>
							<th>Compliance technology</th>
							<td>State Standart</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
						</tr>
						<tr>
							<th>Compliance technology</th>
							<td>State Standart</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
							<td>34965</td>
						</tr>
					</tbody>
				</table>
			</div><!-- /compare-inner-wrapper -->

		</div><!-- /compare-outer-wrapper -->
	</div><!-- /col-xs-12 -->
</div>
<? include('components/html/modal_big-image.html'); ?>