<div class="bcrumbs-container row">
	<div class="col-sm-12">
		<div class="bcrumbs">
			<a href="main.html" class="home"></a>&rarr;
			<a href="profile-settings.html">Personal Area</a>&rarr;
			<a href="favorites.html" class="active">Favorites</a>
		</div>
	</div>
</div>
<div class="account row">
	<h1>Personal Area</h1>
	<aside class="account-menu col-sm-3 col-xs-12">
		<div class="profile clearfix">
			<div class="avatar"><img src="img/icons/avatar.png" alt="User photo (avatar)" title="User photo (avatar)"></div>
			<span class="name">John Doe</span><br><span class="login">[romza@mail.ru]</span><br>(<a href="main.html">Log out</a>)
		</div><!-- /profile -->
		<ul>
			<li><a href="profile-settings.html">Profile settings</a></li>
			<li><a href="order-history.html">Orders history</a></li>
			<li><a href="subscribe-settings.html">Subscription settings</a></li>
			<li><a href="favorites.html" class="active">Favorites</a></li>
		</ul>
	</aside><!-- /account-menu -->
	<section class="account-content col-sm-9 col-xs-12">
		<h2>Favorites</h2>
		<div class="favorites row">
			<div class="col-sm-4 col-xs-12">
				<div class="favorite-item">
					<div class="img-container">
						<img src="img/goods/new_castle.jpg" alt="Worchester Sauce New Castle" title="Worchester Sauce New Castle">
					</div>
					<a href="product-page.html">Worchester sauce "New Castle"</a>
					<button class="item-delete"><span class="text">Remove from favorites</span></button>
				</div>
			</div>
			<div class="col-sm-4 col-xs-12">
				<div class="favorite-item">
					<div class="img-container">
						<img src="img/goods/maryland.jpg" alt="Chocolate cookies Maryland" title="Chocolate cookies Maryland">
					</div>
					<a href="product-page.html">Chocolate cookies "Maryland"</a>
					<button class="item-delete"><span class="text">Remove from favorites</span></button>
				</div>
			</div>
			<div class="col-sm-4 col-xs-12">
				<div class="favorite-item">
					<div class="img-container">
						<img src="img/goods/semga.jpg" alt="Norwegian salmon (fillet)" title="Norwegian salmon (fillet)">
					</div>
					<a href="product-page.html">Norwegian salmon (fillet)</a>
					<button class="item-delete"><span class="text">Remove from favorites</span></button>
				</div>
			</div>
		</div><!-- /row -->
	</section><!-- /favorites -->
</div><!-- /row -->

