<div class="bcrumbs-container row">
	<div class="col-sm-12">
		<div class="bcrumbs">
			<a href="main.html" class="home"></a>&rarr;
			<a href="profile-settings.html">Personal Area</a>&rarr;
			<a href="order-history.html" class="active">Checkout</a>
		</div>
	</div>
</div>
<div class="account row">
	<div class="order-created col-xs-12">
		<h1>Checkout</h1>
		<h3>Order successful</h3>
		<p class="order-success">Your order <a href="order-history.html" class="order-number">№99</a> from 2015/10/05 15:46:28 is successful.</p>
		<p>You can monitor the implementation of your order in the <a href="order-history.html">Personal Area</a>.</p>
		<p>Note that for enter to this section you should enter the login and password.</p>
	</div><!-- /order-created -->
</div><!-- /account -->