<div class="bcrumbs-container row">
	<div class="col-xs-12">
		<div class="bcrumbs">
			<a href="main.html" class="home"></a>&rarr;
			<a href="#">Items</a>&rarr;
			<a href="#">Sauces and spices</a>&rarr;
			<a href="#">For baking and desserts</a>&rarr;
			<a href="#" class="active">Vanilla sugar "Aydigo"</a>
		</div>
	</div>
</div>
<div class="product hproduct row">
	<h1 class="fn">Vanilla sugar "<span class="brand">Aydigo</span>"</h1>
	<span class="category" style="display: none">Items</span>
	<aside class="col-sm-4 col-xs-12">
		<div class="medium-image">
			<ul class="slides clearfix">
				<li><img src="img/goods/medium-images/big-slider-1.jpg" alt="Sweets" data-big-image="img/goods/big-images/big-slider-1.jpg"></li>
				<li><img src="img/goods/medium-images/big-slider-3.jpg" alt="Pancakes" data-big-image="img/goods/big-images/big-slider-3.jpg"></li>
				<li><img src="img/goods/medium-images/big-slider-4.jpg" alt="Greenery" data-big-image="img/goods/big-images/big-slider-4.jpg"></li>
				<li><img src="img/goods/medium-images/big-slider-5.jpg" alt="Sweets" data-big-image="img/goods/big-images/big-slider-5.jpg"></li>
				<li><img src="img/goods/medium-images/big-slider-6.jpg" alt="Pancakes" data-big-image="img/goods/big-images/big-slider-6.jpg"></li>
				<li><img src="img/goods/medium-images/big-slider-7.jpg" alt="Greenery" data-big-image="img/goods/big-images/big-slider-7.jpg"></li>
			</ul>
		</div>
		<div class="zoom-controls">Zoom</div>
		<div class="thumbnails flexslider">
			<ul class="thumbnails-list slides clearfix">
				<li><img src="img/goods/thumbnails/big-slider-1.jpg" alt="Sweets"></li>
				<li><img src="img/goods/thumbnails/big-slider-3.jpg" alt="Pancakes"></li>
				<li><img src="img/goods/thumbnails/big-slider-4.jpg" alt="Greenery"></li>
				<li><img src="img/goods/thumbnails/big-slider-5.jpg" alt="Sweets"></li>
				<li><img src="img/goods/thumbnails/big-slider-6.jpg" alt="Pancakes"></li>
				<li><img src="img/goods/thumbnails/big-slider-7.jpg" alt="Greenery"></li>
			</ul>
		</div>
		<div class="socials">
			Like it? Tell your friends!
			<ul class="socials">
				<li><a href="#" class="social vk sprite"></a></li>
				<li><a href="#" class="social fb sprite"></a></li>
				<li><a href="#" class="social tw sprite"></a></li>
				<li><a href="#" class="social gplus sprite"></a></li>
			</ul>
		</div>
	</aside>
	<div class="product-data-section col-md-8 col-sm-8 col-xs-12">
		<div class="row">
			<div class="col-md-6 col-sm-12 col-xs-12">
				<dl class="product-data clearfix">
					<dt>Article</dt><dd class="identifier">09876534</dd>
					<dt>Manufacturer</dt><dd>Colossus (Argentina)</dd>
					<dt>Energy value, 100g</dt><dd>175 kkal</dd>
					<dt>Weight</dt><dd>5g</dd>
					<dt>Proteins/Fats/Carbohydrates</dt><dd>4,5g / 7g / 10g</dd>
				</dl>
				<ul class="stickers-container">
					<li><div class="sticker new">New</div>New</li>
					<li><div class="sticker discount">35%</div>Discount 35%</li>
					<li><div class="sticker discount">35%</div>Discount 35%</li>
					<li><div class="sticker discount">35%</div>Discount 35%</li>
				</ul>
				<span class="in-stock">Available</span>
				<div class="item-actions-wrapper clearfix">
					<div class="item-actions pull-left">
						<div class="rating">
							<span class="flaticon-little27 star"></span>
							<span class="flaticon-little27 star"></span>
							<span class="flaticon-little27 star"></span>
							<span class="flaticon-little27 star"></span>
							<span class="flaticon-little27 star"></span>
						</div>
						<button class="compare"><span class="text">Compare</span></button>
					</div>
					<div class="item-actions pull-right">
						<button class="like"><span class="text">Excellent Item!</span></button>
						<button class="favorite"><span class="text">To favorites</span></button>
					</div>
				</div><!-- /item-actions-wrapper -->
			</div><!-- /col-sm-6 -->
			<div class="col-md-6 col-sm-12 col-xs-12">
				<div class="big-buy-btn">
					Price:<br>
					<del class="price">$4</del>
					<span class="price">$3.5</span>
					<div class="quantity-container">
						<div class="quantity">
							<span class="quantity-minus">&ndash;</span>
							<input type="text" name="quantity" value="2">
							<span class="quantity-plus">+</span>
						</div>
						<div class="selector measurement-unit">
							<div class="select">
								<input type="text" class="selector-input" disabled>
								<ul class="selector-list">
									<li class="active">pkg.</li>
									<li>g</li>
									<li>kg</li>
									<li>pcs.</li>
								</ul>
							</div>
						</div>
					</div>
					<button class="to-basket big">To cart</button>
				</div><!-- /big-buy-btn -->
			</div>
		</div><!-- /row -->
		
		<div class="product-info-section row">
			<div class="col-xs-12">
				<input type="radio" name="product-info-switch" id="product-info-description" class="product-info-switch" data-toggle="description" checked>
				<label for="product-info-description" class="product-info-tab">Details</label>
				<input type="radio" name="product-info-switch" id="product-info-reviews" class="product-info-switch" data-toggle="reviews">
				<label for="product-info-reviews" class="product-info-tab">Comments</label>
				<div class="product-info description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam laudantium incidunt labore sapiente officiis voluptatum officia eos inventore consequatur delectus asperiores quos saepe commodi voluptatibus quibusdam, soluta nisi quo, ab, laboriosam. Delectus ut aperiam sit, deserunt nihil. Maiores non explicabo autem vero dicta eius quidem sed delectus consequuntur quod dolor tenetur officia quis inventore, accusantium?</div>
				<div class="product-info reviews">
					<!-- toggle (remove/add) class "not-authorized"
					for styles switching -->
					<div class="post-comment clearfix">
						<div class="avatar">
							<img src="img/avatars/avatar-demo2.jpg" alt="Avatar">
						</div>
						<div class="content">
							<span class="date">2014/11/15</span>
							<h4>John Doe</h4>
							<form action="#" method="post" id="form-comments">
								<div>
									<input type="email" id="reviews-email" name="comments-email" placeholder="Your e-mail" class="textinput-styled">
								</div>
								
								<textarea name="textarea-comment" id="textarea-comment" cols="30" rows="5" placeholder="Input message"></textarea>
								<input type="submit" name="submit-comment" value="Send" class="main-btn">
							</form>
						</div><!-- /.content -->
					</div><!-- /.post-comment -->
					<div class="comments-item clearfix">
						<div class="avatar">
							<img src="img/avatars/avatar-demo1.jpg" alt="Avatar">
						</div>
						<div class="content">
							<span class="date">2014/11/15</span>
							<h4>Camilla Preston</h4>
							<p>Good spice! I buy it in this store, since it was only place where sell real vanilla. Never sell fake. In the evening I cook bread and drink tea.</p>
						</div>
					</div>
					<div class="comments-item clearfix">
						<div class="avatar">
							<img src="img/avatars/avatar-demo2.jpg" alt="Avatar">
						</div>
						<div class="content">
							<span class="date">2014/11/15</span>
							<h4>Ernest Hemingway</h4>
							<p>How can I use this spice?</p>
						</div>
					</div>
					<div class="comments-item clearfix">
						<div class="avatar">
							<img src="img/avatars/avatar-demo3.jpg" alt="Avatar">
						</div>
						<div class="content">
							<span class="date">2014/11/15</span>
							<h4>F. Scott Fitzgerald</h4>
							<p>Hey, guys! It's so tasty to make Napoleon cake with it. Real jam!</p>
						</div><!-- /.content -->
					</div><!-- /.comments-item -->
				</div><!-- /product-info reviews -->

				<div class="recommended-items row">
					<h2>We also recommend to purchase:</h2>
					<div class="recommended-item col-xs-3">
						<div class="img-container"><img src="img/goods/vanil.jpg" alt="Vanilla beans"></div>
						<p><a href="product-page.html">Vanilla beans</a></p>
					</div>
					<div class="recommended-item col-xs-3">
						<div class="img-container"><img src="img/goods/sticks.jpg" alt="Cinnamon sticks"></div>
						<p><a href="product-page.html">Cinnamon sticks</a></p>
					</div>
					<div class="recommended-item col-xs-3">
						<div class="img-container"><img src="img/goods/mindal.jpg" alt="Almond petals"></div>
						<p><a href="product-page.html">Almond petals</a></p>
					</div>
					<div class="recommended-items-price col-xs-3">
						<div class="special-price">Special price<br>for you</div>
						<div class="price">$26</div>
						<button class="to-basket">To cart</button>
					</div>
				</div><!-- /recommended-items -->
			</div><!-- /col-xs-12 -->
		</div><!-- /product-info-section -->
	</div><!-- /product-data-section -->
</div>
<section class="also-buy row">
	<h2>Usually they buy with this product:</h2>
	<div class="col-xs-12 carousel slide" id="also-buy-items" data-ride="carousel">
		<div class="carousel-inner catalog-blocks row4">
			<? include('components/html/catalog-items-example1.html'); ?>
			<? include('components/html/catalog-items-example1.html'); ?>
			<? include('components/html/catalog-items-example1.html'); ?>
		</div>
	</div>
</section><!-- /also-buy -->

<? include('components/html/modal_big-image.html'); ?>