<div id="popup_ajax-search" class="popup_ajax-search">
	<div class="table">
		<a href="product-page.html" class="ajax-search-item">
			<div class="item-photo">
				<img src="img/goods/aidigo.jpg" alt="Vanilla sugar Aydigo" title="Vanilla sugar Aydigo">
			</div>
			<div class="item-description">
				"Aydigo" Vanilla sugar
			</div>
			<div class="item-price">
				<span class="price-old">$12 345</span>
				<span class="price">$1 337,80</span>
			</div>
		</a>
		<a href="product-page.html" class="ajax-search-item">
			<div class="item-photo">
				<img src="img/goods/kar.jpg" alt="Colored gel pencils" title="Colored gel pencils">
			</div>
			<div class="item-description">
				Colored gel pencils
			</div>
			<div class="item-price">
				<span class="price-old">$12 345</span>
				<span class="price">$22 129</span>
			</div>
		</a>
		<a href="product-page.html" class="ajax-search-item">
			<div class="item-photo">
				<img src="img/goods/pepper_mix.jpg" alt="Meal peppers mix" title="Meal peppers mix">
			</div>
			<div class="item-description">
				"Meal" peppers mix
			</div>
			<div class="item-price">
				<span class="price-old">$12 345</span>
				<span class="price">$1 282,50</span>
			</div>
		</a>
		<a href="product-page.html" class="ajax-search-item">
			<div class="item-photo">
				<img src="img/goods/aidigo.jpg" alt="Vanilla sugar Aydigo" title="Vanilla sugar Aydigo">
			</div>
			<div class="item-description">
				Leaf gelatine "Confectioner"
			</div>
			<div class="item-price">
				<span class="price-old">$12 345</span>
				<span class="price">$1 337,80</span>
			</div>
		</a>
		<a href="product-page.html" class="ajax-search-item">
			<div class="item-photo">
				<img src="img/goods/kar.jpg" alt="Colored gel pencils" title="Colored gel pencils">
			</div>
			<div class="item-description">
				Crystal Vanilla "Aydigo"
			</div>
			<div class="item-price">
				<span class="price-old">$12 345</span>
				<span class="price">$22 129</span>
			</div>
		</a>
		<a href="product-page.html" class="ajax-search-item">
			<div class="item-photo">
				<img src="img/goods/pepper_mix.jpg" alt="Meal peppers mix" title="Meal peppers mix">
			</div>
			<div class="item-description">
				Crystal Vanilla "Aydigo"
			</div>
			<div class="item-price">
				<span class="price-old">$12 345</span>
				<span class="price">$1 282,50</span>
			</div>
		</a>
	</div>
	
	<a href="product-page.html" class="ajax-search-item all-results">
		All results
	</a>
</div>